<!-- Determine analytics property -->
{% if config.extra.analytics %}
{% set property = config.extra.analytics.property | d("", true) %}
{% set gtm = config.extra.analytics.gtm | d("", true) %}
{% endif %}

<!-- Google Analytics 4 (G-XXXXXXXXXX) -->
{% if property.startswith("G-") %}
<script type="text/plain" data-cookiecategory="analytics">
    window.dataLayer = window.dataLayer || []
    function gtag() { dataLayer.push(arguments) }

    /* Set up integration and send page view */
    gtag("js", new Date())
    gtag("config", "{{ property }}")

    /* Register event handlers after documented loaded */
    document.addEventListener("DOMContentLoaded", function() {
        if (document.forms.search) {
            var query = document.forms.search.query
            query.addEventListener("blur", function() {
                if (this.value)
                    gtag("event", "search", { search_term: this.value })
            })
        }

        /* Send page view on location change */
        if (typeof location$ !== "undefined")
            location$.subscribe(function(url) {
                gtag("config", "{{ property }}", {
                    page_path: url.pathname
                })
            })
    })
</script>
<script type="text/plain" data-cookiecategory="analytics" async src="https://www.googletagmanager.com/gtag/js?id={{ property }}">
</script>

<!-- Google Analytics (UA-XXXXXXXX-X) -->
{% elif property.startswith("UA-") %}
<script type="text/plain" data-cookiecategory="analytics">
    window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
    }
    ga.l = +new Date()

    /* Set up integration and send page view */
    ga("create", "{{ property }}", "auto")
    ga("set", "anonymizeIp", true)
    ga("send", "pageview")

    /* Register event handlers after documented loaded */
    document.addEventListener("DOMContentLoaded", function() {
        if (document.forms.search) {
            var query = document.forms.search.query
            query.addEventListener("blur", function() {
                if (this.value) {
                    var path = document.location.pathname;
                    ga("send", "pageview", path + "?q=" + this.value)
                }
            })
        }

        /* Send page view on location change */
        if (typeof location$ !== "undefined")
            location$.subscribe(function(url) {
                ga("send", "pageview", url.pathname)
            })
    })
</script>
<script type="text/plain" data-cookiecategory="analytics" async src="https://www.google-analytics.com/analytics.js"></script>
{% endif %}


{% if gtm.startswith("GTM-") %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ gtm }}');</script>
<!-- End Google Tag Manager -->
{% endif %}