{% extends "main.html" %}
{% block tabs %}{% endblock %}

{% block hero %}
<link rel="stylesheet" href="/assets/stylesheets/home.css">

<section>
    <div class="md-grid md-typeset">
        <div class="ds-hero">
            <div class="ds-hero__image">
                <img src="assets/images/hero.png">
            </div>
            <div class="ds-hero__content">
                <h1>WebSight DXP</h1>
                <p>
                    Cloud native solution backed by enterprise grade CMS, <br>
                    created to help organizations deliver digital experiences at web scale!
                </p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}"
                   class="md-button md-button--primary">
                    Get Started
                </a>
                <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ds-section__even">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner">
            <div class="mdx-expect">
                <ul class="mdx-expect__list">
                    <li class="mdx-expect__item md-typeset">
                        <div class="mdx-expect__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                        d="M21,16V4H3V16H21M21,2A2,2 0 0,1 23,4V16A2,2 0 0,1 21,18H14V20H16V22H8V20H10V18H3C1.89,18 1,17.1 1,16V4C1,2.89 1.89,2 3,2H21M5,6H14V11H5V6M15,6H19V8H15V6M19,9V14H15V9H19M5,12H9V14H5V12M10,12H14V14H10V12Z">
                                </path>
                            </svg>
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Cloud Native Architecture</h2>
                            <p>
                                Architecture designed to make the web fast, secure, and easy to scale.
                                Pages are rendered in advance, stored and enriched in runtime by serverless functions.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset">
                        <div class="mdx-expect__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                        d="M13.13 22.19L11.5 18.36C13.07 17.78 14.54 17 15.9 16.09L13.13 22.19M5.64 12.5L1.81 10.87L7.91 8.1C7 9.46 6.22 10.93 5.64 12.5M19.22 4C19.5 4 19.75 4 19.96 4.05C20.13 5.44 19.94 8.3 16.66 11.58C14.96 13.29 12.93 14.6 10.65 15.47L8.5 13.37C9.42 11.06 10.73 9.03 12.42 7.34C15.18 4.58 17.64 4 19.22 4M19.22 2C17.24 2 14.24 2.69 11 5.93C8.81 8.12 7.5 10.53 6.65 12.64C6.37 13.39 6.56 14.21 7.11 14.77L9.24 16.89C9.62 17.27 10.13 17.5 10.66 17.5C10.89 17.5 11.13 17.44 11.36 17.35C13.5 16.53 15.88 15.19 18.07 13C23.73 7.34 21.61 2.39 21.61 2.39S20.7 2 19.22 2M14.54 9.46C13.76 8.68 13.76 7.41 14.54 6.63S16.59 5.85 17.37 6.63C18.14 7.41 18.15 8.68 17.37 9.46C16.59 10.24 15.32 10.24 14.54 9.46M8.88 16.53L7.47 15.12L8.88 16.53M6.24 22L9.88 18.36C9.54 18.27 9.21 18.12 8.91 17.91L4.83 22H6.24M2 22H3.41L8.18 17.24L6.76 15.83L2 20.59V22M2 19.17L6.09 15.09C5.88 14.79 5.73 14.47 5.64 14.12L2 17.76V19.17Z">
                                </path>
                            </svg>
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Feature-rich Authoring Experience</h2>
                            <p>
                                Create digital experiences with modern and intuitive UI and get a live preview before
                                publishing. Authoring layer shares the technology stack with enterprise market leaders,
                                what results in feature rich, battle tested platform. Redesigned to meet latest
                                standards.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset">
                        <div class="mdx-expect__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                        d="M5.31,6C6.95,4.16 9.34,3 12,3C14.66,3 17.05,4.16 18.69,6H15.58C14.53,5.37 13.31,5 12,5C10.69,5 9.47,5.37 8.42,6H5.31M14.4,9.6V8H11.2A1.6,1.6 0 0,0 9.6,9.6V11.2C9.6,12.08 10.32,12.8 11.2,12.8H12.8V14.4H9.6V16H12.8A1.6,1.6 0 0,0 14.4,14.4V12.8C14.4,11.92 13.68,11.2 12.8,11.2H11.2V9.6H14.4M18.4,8H15.2V16H16.8V12.8H18.4A1.6,1.6 0 0,0 20,11.2V9.6C20,8.72 19.28,8 18.4,8M18.4,11.2H16.8V9.6H18.4V11.2M8.8,9.6V8H4V16H8.8V14.4H5.6V12.8H8.8V11.2H5.6V9.6H8.8M15.58,18C14.53,18.63 13.31,19 12,19C10.69,19 9.47,18.63 8.42,18H5.31C6.95,19.84 9.34,21 12,21C14.66,21 17.05,19.84 18.69,18H15.58M20.5,3.5L19.42,4.58C21.32,6.5 22.5,9.11 22.5,12C22.5,14.9 21.32,17.5 19.42,19.42L20.5,20.5C22.66,18.31 24,15.31 24,12C24,8.69 22.66,5.69 20.5,3.5M4.58,4.58L3.5,3.5C1.34,5.69 0,8.69 0,12C0,15.31 1.34,18.31 3.5,20.5L4.58,19.42C2.68,17.5 1.5,14.9 1.5,12C1.5,9.11 2.68,6.5 4.58,4.58Z">
                                </path>
                            </svg>
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Best Performance</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan enim elit, ut
                                cursus purus sagittis in. Maecenas aliquam malesuada sollicitudin. Cras lacinia felis
                                felis, ac lobortis lectus blandit imperdiet.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset">
                        <div class="mdx-expect__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                        d="M22.91 16.64C22.75 15.95 22.44 15.34 21.97 14.81C21.5 14.28 20.91 13.91 20.2 13.69L19.77 15.14C20.43 15.33 20.91 15.73 21.23 16.36C21.54 17 21.58 17.62 21.37 18.27C21.15 18.93 20.73 19.41 20.12 19.73S18.88 20.08 18.23 19.86L14.9 18.79L15.37 17.38L18.7 18.46L19.16 17L17.2 16.4L15.14 11.91C14.95 11.5 14.66 11.19 14.27 10.97C13.88 10.75 13.45 10.67 13 10.74L10.88 11.11L11.91 7.84C12.06 7.37 12.03 6.91 11.81 6.5C11.6 6.04 11.24 5.74 10.74 5.59C10.33 5.46 9.91 5.5 9.47 5.68L4 8V12.1L2.4 11.58L1.94 13L5.87 14.3L5.4 15.7L1.47 14.44L1 15.84L17.76 21.32C18.45 21.54 19.13 21.57 19.82 21.41C20.5 21.26 21.12 20.94 21.65 20.5C22.18 20 22.55 19.43 22.77 18.74C23 18 23.07 17.32 22.91 16.64M6 9.33L7.93 8.5L6.9 11.67C6.74 12.14 6.79 12.61 7.04 13.08L6 12.75V9.33M13.5 18.32L6.81 16.17L7.27 14.76L13.92 16.92L13.5 18.32M9.47 13.87L13.45 13L14.62 15.56L9.47 13.87M14 3C14 4.11 13.11 5 12 5S10 4.11 10 3 10.9 1 12 1 14 1.9 14 3Z">
                                </path>
                            </svg>
                        </div>
                        <div class="mdx-expect__description">
                            <h2>High Security</h2>
                            <p>
                                Ut tempus vel odio quis porttitor. Suspendisse potenti. Sed cursus, eros luctus
                                convallis cursus, tortor dui vulputate arcu, id auctor lectus mauris eget tortor.
                                Maecenas aliquam malesuada sollicitudin. Cras lacinia felis felis, ac lobortis lectus
                                blandit imperdiet.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset">
                        <div class="mdx-expect__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                        d="M12 4C13.11 4 14 4.89 14 6S13.11 8 12 8 10 7.11 10 6 10.9 4 12 4M21 16V14C18.76 14 16.84 13.04 15.4 11.32L14.06 9.72C13.68 9.26 13.12 9 12.53 9H11.5C10.89 9 10.33 9.26 9.95 9.72L8.61 11.32C7.16 13.04 5.24 14 3 14V16C5.77 16 8.19 14.83 10 12.75V15L6.12 16.55C5.45 16.82 5 17.5 5 18.21C5 19.2 5.8 20 6.79 20H9V19.5C9 18.12 10.12 17 11.5 17H14.5C14.78 17 15 17.22 15 17.5S14.78 18 14.5 18H11.5C10.67 18 10 18.67 10 19.5V20H17.21C18.2 20 19 19.2 19 18.21C19 17.5 18.55 16.82 17.88 16.55L14 15V12.75C15.81 14.83 18.23 16 21 16Z">
                                </path>
                            </svg>
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Cheap and Easy Scaling</h2>
                            <p>
                                In nisi purus, malesuada non orci sed, accumsan volutpat mauris. Fusce magna ligula,
                                mattis a convallis vitae, porta et turpis. Pellentesque eu sem neque. Mauris faucibus
                                nibh sit amet augue ultricies, at euismod velit vulputate.
                            </p>
                        </div>
                    </li>
                    <li class="mdx-expect__item md-typeset">
                        <div class="mdx-expect__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                        d="M7.75 11c-.69 0-1.25.56-1.25 1.25v1.5a1.25 1.25 0 102.5 0v-1.5C9 11.56 8.44 11 7.75 11zm1.27 4.5a.469.469 0 01.48-.5h5a.47.47 0 01.48.5c-.116 1.316-.759 2.5-2.98 2.5s-2.864-1.184-2.98-2.5zm7.23-4.5c-.69 0-1.25.56-1.25 1.25v1.5a1.25 1.25 0 102.5 0v-1.5c0-.69-.56-1.25-1.25-1.25z">
                                </path>
                                <path fill-rule="evenodd"
                                      d="M22,12V20A2,2 0 0,1 20,22H4A2,2 0 0,1 2,20V12A1,1 0 0,1 1,11V8A2,2 0 0,1 3,6H6.17C6.06,5.69 6,5.35 6,5A3,3 0 0,1 9,2C10,2 10.88,2.5 11.43,3.24V3.23L12,4L12.57,3.23V3.24C13.12,2.5 14,2 15,2A3,3 0 0,1 18,5C18,5.35 17.94,5.69 17.83,6H21A2,2 0 0,1 23,8V11A1,1 0 0,1 22,12M4,20H11V12H4V20M20,20V12H13V20H20M9,4A1,1 0 0,0 8,5A1,1 0 0,0 9,6A1,1 0 0,0 10,5A1,1 0 0,0 9,4M15,4A1,1 0 0,0 14,5A1,1 0 0,0 15,6A1,1 0 0,0 16,5A1,1 0 0,0 15,4M3,8V10H11V8H3M13,8V10H21V8H13Z">
                                </path>
                            </svg>
                        </div>
                        <div class="mdx-expect__description">
                            <h2>Tailor Made Solution</h2>
                            <p>
                                Use the best tools to do the job. Use Content Management System to manage the content
                                Utilize cloud technologies like Amazon IAM, Cognito or Cloud Search to extend the
                                platform. Compose the platform using IaaC solution and keep it simple.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner">
            <header class="md-typeset">
                <h1 id="not-only-about-content">WebSight is about Content, but also Delivery and Infrastructure
                    <a href="#not-only-about-content" class="headerlink" title="Permanent link"> ¶ </a>
                </h1>
            </header>
            <div class="mdx-spotlight">
                <figure class="mdx-spotlight__feature">
                    <a href="#authoring-experience" title="Authoring experience" tabindex="-1">
                        <img src="assets/images/authoring-experience.png" alt="Authoring experience" loading="lazy"
                             width="500" height="327">
                    </a>
                    <figcaption class="md-typeset">
                        <h2>Authoring Experience</h2>
                        <p>
                            Everything what happens before page publishing is done on author's instances. WebSight
                            enables teams to create content in distributed environments. Teams can collaborate
                            on multiple sites and markets using different roles and permissions. Data is organized into
                            sites using spaces, assets, pages, tags, templates, components and use functionalities like
                            multi-site management, page versioning and more.
                        </p>
                        <p>
                            WebSight supports headless and traditional architectures, making it true hybrid CMS.
                        </p>
                        <p>
                            Authoring environment is fast and responsive without any legacy code. UX is optimized for
                            productivity and best possible user experience. Environment is pluggable and easy
                            customizable. Can be easily extended to meet specific requirements.
                        </p>
                    </figcaption>
                </figure>
                <figure class="mdx-spotlight__feature">
                    <a href="#infrastructure" title="Infrastructure" tabindex="-1">
                        <img src="assets/images/infrastructure.png" alt="Infrastructure" loading="lazy" width="500"
                             height="327">
                    </a>
                    <figcaption class="md-typeset">
                        <h2>Cloud Native Infrastructure</h2>
                        <p>
                            - Cloud and Containers<br>
                            - Serverless<br>
                            - Pay-as-you-go<br>
                            - Extendable Platform
                        </p>
                    </figcaption>
                </figure>
                <figure class="mdx-spotlight__feature">
                    <a href="#developer-experience" title="Developer Experience" tabindex="-1">
                        <img src="assets/images/developer-experience.png" alt="Developer Experience" loading="lazy"
                             width="500"
                             height="327">
                    </a>
                    <figcaption class="md-typeset">
                        <h2>Developer Experience</h2>
                        <p>
                            - Made by engineers for engineers <br>
                            - Community driven <br>
                            - Fast feedback loop <br>
                            - Docs & tutorials <br>
                            - Everything as code <br>
                            - Modern tech stack <br>
                        </p>
                        <p>
                            - Lightweight, built-in CI <br>
                            - Ephemeral environments: on-demand, per PR <br>
                            - Quality automation <br>
                            - Infrastructure as code <br>
                            - Developer Experience
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="ds-section__even">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner mdx-content__inner">
            <div class="mdx-content__column">
                <header class="md-typeset">
                    <h1 id="why-websight"> Why WebSight?
                        <a href="#why-websight" class="headerlink" title="Permanent link"> ¶ </a>
                    </h1>
                </header>
                <div class="mdx-connect md-typeset">
                    <div class="mdx-connect__column">
                        <p>
                            Our 50+ team has together hundreds of years of experience with market-leading
                            enterprise-class CMSs like AEM.
                            We are using this experience to provide the solution for issues we’ve seen too many times.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mdx-content__column">
                <header class="md-typeset">
                    <h1 id="where-to-go">Where to go next?
                        <a href="#where-to-go" class="headerlink" title="Permanent link">¶</a>
                    </h1>
                </header>
                <div class="mdx-connect md-typeset">
                    <div class="mdx-connect__inner">
                        <p>
                            <a href="#" class="mdx-connect__link">
                                Checkout <strong>Tutorials</strong>
                            </a>
                        </p>
                        <p>
                            <a href="#" class="mdx-connect__link">
                                Raise issues on <strong>GitHub</strong>
                            </a>
                            <a href="#" class="mdx-connect__link">
                                Discuss on <strong>Gitter</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="">
    <footer class="md-footer">
        <nav class="md-footer__inner md-grid" aria-label="Footer">
            <a href="/getting-started" class="md-footer__link md-footer__link--next" aria-label="Next: Get Started"
               rel="next">
                <div class="md-footer__title">
                    <div class="md-ellipsis"><span class="md-footer__direction"> Next </span>Get Started</div>
                </div>
                <div class="md-footer__button md-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4Z"></path>
                    </svg>
                </div>
            </a>
        </nav>
    </footer>
</div>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
