{% extends "base.html" %}

<!-- Determine analytics property -->
{% if config.extra.analytics %}
{% set gtm = config.extra.analytics.gtm | d("", true) %}
{% endif %}

{% block header %}

{% if gtm.startswith("GTM-") %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm }}"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

{{ super() }}

{% endblock %}