{% extends "blog.html" %}

{% if render_blog is not defined %}

{% macro render_blog(title, description, time, url, page) -%}
<div class="blog-post">
    <img src="{{ url }}/{{ page.meta.image }}" alt="Sample test run" width = 100% style="margin-top: 25px">
    {% if show_tags and "tags" in page.meta %}
    {% call render_tags(page.meta["tags"], index_url) %}
    {% endcall %}
    {% endif %}
    <h3 class="blog-post-title">
        <a class="link" href="{{ url }}">{{ title }}</a>
    </h3>
    <div class="blog-post-extra">
        <span>
            {{page.meta["author"] if "author" in page.meta else "" }}
        </span>
        <span>
            {{page.meta.publicationDate}}
        </span>
        <span>
            {{page.meta.minReadTime}} min read
        </span>
    </div>
</div>
{{ caller() }}
{%- endmacro %}
{% endif %}


{% block style %}
{{ super() }}
<link rel="stylesheet" href="/assets/stylesheets/ws-blog.css">
{% endblock %}
