.md-footer-links {
    padding: .6rem 0;
}
.md-footer-links__link {
    color: var(--md-footer-fg-color--light);
    font-size: .64rem;
}

.ds-hero {
    padding: 2em 1em;
}

.ds-hero__content {
    margin: 0 auto;
    text-align: center;
}

.ds-hero__content h1 {
    color: var(--md-default-fg-color);
    font-weight: 600;
    margin-bottom: 0.5em;
}
.ds-hero__content p {
    margin-bottom: 1.5em;
}

.ds-section p {
    color: var(--md-default-fg-color--light);
}

.ds-section .md-typeset h2 {
    font-weight: 500;
}

.ds-section__even {
    background-color: var(--md-default-fg-color--lightest);
}

.ds-section .md-content__inner {
    padding: 3rem 0;
}
.ds-section .mdx-expect__icon {
    background-color: var(--md-primary-fg-color);
}

@media screen and (max-width: 76.1875em) {
    .mdx-expect__description h2 {
        margin-left: 2.8rem;
    }
}

@media screen and (min-width: 76.1875em) {
    .md-header__ellipsis {
        display: none;
    }
}